<h1>Úvod do dátovej analýzy v Pythone</h1>

<h2>Čo je dátová analýza?</h2>

<p>Tento pojem je pomerne ťažké definovať. Pod dátovou analýzou sa skrýva viacero rolí a činností a nie vždy sú vykonávané jednou osobou. Patria sem napríklad činnosti:</p>

<ul>
    <li>analýza dát</li>
    <li>čistenie dát</li>
    <li>transformácia dát</li>
    <li>vizualizácia dát</li>
    <li>návrh dátovej architektúry</li>
    <li>machine learning</li>
    <li>dátové modelovanie</li>
    <li>....</li>
</ul>

<img src="https://static1.squarespace.com/static/538cea80e4b00f1fad490c1b/t/55e9ffa0e4b068f2cc1e4670/1441398688916/" />

<h2>Prečo Python?</h2>

<p>Pri práci s dátami si môžeme vybrať rôzny programovací jazyk, no najčastejšie sa používa buď <strong>Python</strong> alebo <strong>R</strong>. Výber závisí od viacerých faktorov:</p>

<ul>
    <li>use case, na ktorom pracujeme</li>
    <li>dáta, s akými pracujeme</li>
    <li>tím, v ktorom pracujeme</li>
    <li>technológie vybranej firmy/projektu a ich možnosti</li>
    <li>dodatočné knižnice/moduly vybraného jazyka</li>
    <li>objem dát, s akými pracujeme</li>
    <li>dostupné nástroje na prácu s dátami</li>
    <li>...</li>
</ul>

<img src="https://uploads-ssl.webflow.com/589e47d231ee752554896f1f/5a74c89d437134000158c460_pd-infographic-python-r.svg" />

<p>Python nám umožňuje pracovať s veľkými dátovými setmi, vizualizovať dáta pomocou rôznych knižníc/modulov, podporuje mnoho machine learning knižníc/modulov.</p>

<h3>Ukážky prác s dátami v Pythone</h3>

<ul>
    <li>http://nbviewer.jupyter.org/github/justmarkham/DAT4/blob/master/notebooks/08_linear_regression.ipynb</li>
    <li>http://nbviewer.jupyter.org/github/xun-tang/pyladies_jupyter_demo/blob/master/Predict_Review_Five_Star_Rating.ipynb</li>
    <li>http://nbviewer.jupyter.org/gist/msund/7ac1203ded66fe8134cc</li>
    <li>http://nbviewer.jupyter.org/gist/jhemann/4569783</li>
</ul>

<h2>Čo je Jupyter notebook?</h2>

<p>Jupyter notebook je interaktívny nástroj umožňujúci priamo vizualizovať výsledky spracovania nášho kódu. V kontexte práce s dátami je možné sa priamo na dáta pozrieť, vypísať hodnoty bez nutnosti printu. Uchováva históriu našej práce prostredníctvom [in] - vstupné hodnoty [out] - výsledkov našich programov. Umožňuje embedovať rôzne dodatočné prvky ako mapy, videá, podporuje html formátovanie, webové stránky a vizualizácie.</p>

<p>S Jupyteru je možné priamo výsledky našej práce publikovať online, previesť do Python kódu a skopírovať do nášho obľúbeného editora. Je potrebné si uvedomiť, že beží iba lokálne v našom počítači vo webovom prehliadači.</p>

<h2>Prečo je dobré ho používať?</h2>
<p>Využívanie Jupyter notebooku má mnoho výhod, najmä pri práci v oblasti dátovej analýzy:</p>
<ul>
    <li>Priamo zobrazenie dát, s ktorými pracujeme - nie je nutné sa prepínať do externých excelov, csv súborov, databáz,...</li>
    <li>Možnosť vidieť výsledky spracovania kódu priamo v prehliadači bez nutnosti spúšťania kódu cez konzolu/terminál a zároveň sú výsledky uložené v histórii a dostupné aj po znovuotvorení Jupyter notebooku</li>
    <li>Možnosť priamych vizualizácií</li>
    <li>Využívaný nástroj medzi dátovými analytikmi pracujúcimi v Pythone/inom jazyku, pravdepodobne väčšina Vašich kolegov tento nástroj bude používať a pošle vám v ňom svoju prácu</li>
    <li>Možnosť publikácie výsledkov priamo online</li>
    <li>Je zadarmo dostupný</li>
    <li> ...</li>
</ul>

<h2>Je dobré vedieť</h2>

<ul>
    <li>Vypísanie všetkých dostupných príkazov a skratiek k nim cez <code>Cmd/Ctrl + Shift + P</code></li>
    <li>Spustiť kód bloku programu vo vybranej bunky príkazom Run</li>
    <li>Môžeme sa prepnúť navrchu medzi Markdown, Code</li>
    <li>Môžeme zastaviť vykonávanie príkazu cez Stop</li>
    <li>Môžeme spustiť beh všetkých príkazov naraz</li>
    <li>Môžeme si vypísať nápovedu cez .</li>
    <li>Môžeme si vypísať help k danej funkcii/metóde</li>
    <li>Môžeme cez tabulátor dopĺňať existujúce premenné, funkcie, metódy</li>
</ul>

In [1]:
print?

In [2]:
print()

<h2>Čo je Pandas?</h2>

<p>Pandas je modul/knižnica Pythonu slúžiaca na prácu s dátami v Pythone. Umožňuje nám pracovať s dátami v ucelenej štruktúre, podobnej relačným databázam. Umožňuje spracovať veľké množstvo dát pomerne rýchlo, vyhodnocovať dáta, čistiť dáta vďaka mnohým zabudovaným a pripraveným funkciám, ktoré šetria dátovému analytikovi mnoho času, ktorý zameria efektívnejšie na data analýzu, ako na programovanie v Pythone.</p>

<h6>Je potrebné si uvedomiť, že pri práci s Pandasom je dôležité naučiť sa funkcie/metódy, ktoré poskytuje a ako ich uplatniť nad dátovým setom, s ktorým pracujeme. Nejde priamo o programovanie, aké poznáte z Pythonu, o to programovanie sa postarali už tvorcovia Pandasu a všetko potrebné zabudovali do danej knižnice/modulu</h6>

In [4]:
"""Ukážka v Pythone<br />
import csv

if __name__ == '__main__':
    file_name = 'teams'
    with open(file_name + '.csv', 'r') as infile:
        reader = csv.reader(infile)
        new_header = next(reader, None)
        for row in reader:
            row = [row[0], row[1], row[2]]
            print (row)

"""

"Ukážka v Pythone<br />\nimport csv\n\nif __name__ == '__main__':\n    file_name = 'teams'\n    with open(file_name + '.csv', 'r') as infile:\n        reader = csv.reader(infile)\n        new_header = next(reader, None)\n        for row in reader:\n            row = [row[0], row[1], row[2]]\n            print (row)\n\n"

In [5]:
""" Ukážka v Pandase
df = pd.read_csv('teams.csv', encoding='utf-8')
df[['1', '2', '3']]
"""

" Ukážka v Pandase\ndf = pd.read_csv('teams.csv', encoding='utf-8')\ndf[['1', '2', '3']]\n"

<h2>Začiatok práce s Pandasom</h2>

<ol>
    <li>Ako každý Python modul, je potrebné ho nainštalovať, aby sme ho mohli používať. V anaconde, by mal byť Pandas preddefinovane nainštalovaný.</li>
    <li>Po nainštalovaní je potrebné si ho importovať do nášho projektu. Importovaním pandasu môžeme používať všetky jeho hotové funkcie a metódy, ktoré pre nás pripravili</li>
</ol>

<h2>Import</h2>

In [4]:
#Import celého pandas modulu, kde sme si vytvorili alias pd, pre možnosť pristupovať k príkazom cez skratku pd.
#namiest pandas.
import pandas as pd

<p>Keď máme pandas importnutý je potrebné si do projektu nahrať dáta, nad ktorými chceme pracovať, robiť dátovú analýzu. V pandase je možné pracovať s dátami rôznych dátových formátov, či už je to excel, textový súbor, csv, json a podobne.</p>

<p>Ukážky otvorenia dát v rôznych formátoch.</p>

<h5>Načíta dáta z CSV súboru</h5>
pd.read_csv(filename)

<h5>Načíta dáta z Excel súboru</h5>
pd.read_excel(filename) 

<h5>Načíta dáta z SQL tabuľky/databázy</h5>
pd.read_sql(query, connection_object)

<h5>Načíta dáta z JSONU z webu</h5>
pd.read_json(json_string)

<h5>Načíta dáta z URL adresy</h5>
pd.read_html(url)

My budeme pracovať na hodinách s formátom CSV. Jedná sa o najvyužívanejší formát pri práci s dátami, mnoho exportov z JSONu z rôznych nástrojov, alebo z databáz je vo formáte CSV.

<h2>Predstavenie dátového setu</h2>

<p>Budeme pracovať s dátovým setom obsahujúcim informácie o Pokémonoch. Pracovať budeme s hodnotami:</p>
<ul>
    <li>ID pokémona</li>
    <li>Meno pokémona</li>
    <li>Typ (hlavný) pokémona</li>
    <li>Typ (vedľajší) pokémona</li>
    <li>Celková sila</li>
    <li>Útok</li>
    <li>HP </li>
    <li>Obrana</li>
    <li>Rýchlosť</li>
    <li>Generácia</li>
    <li>Je legendárny</li>
</ul>

<img src="https://cdn.vox-cdn.com/thumbor/s_HqWQZ-SI1MqQwV1eXvtgBwnGc=/0x0:578x327/1200x800/filters:focal(243x118:335x210)/cdn.vox-cdn.com/uploads/chorus_image/image/56976933/halloween_2017_169.0.jpg" />

In [6]:
#Načítanie dát z CSV súboru
pokemonDf = pd.read_csv('csv/Pokemon.csv', encoding='utf-8')

<h2>Čo je DateFrame?</h2>

<p>DateFrame je v pandase tabuľková dátová štruktúra (založená na podobnom princípe ako napríklad usporiadanie dát v Exceli alebo v databáze), obsahujúca dáta zoradené v stĺpcoch. Každý stĺpec má rôzny dátový typ. Dátovym typom je napríklad číslo, desatiné číslo, text, pravdivostná hodnota (True/False) a iné. Pod každým stĺpcom sú dáta zobrazované v riadkoch v danom dátovom type</p>

<img src="https://www.tutorialspoint.com/python_pandas/images/structure_table.jpg" />

<h2>Základný výpis dát</h2>

<p>Dáta sú v tejto chvíli uložené v premennej s názvom <code>pokemonDf</code>. Ak sa na ne chceme pozrieť, môžeme použiť nasledujúce spôsoby:</p>

In [10]:
#Vypíše všetky dáta, ktoré sa načítali z CSV súboru. Ak je dát viac zobrazia sa medzi nimi ... 
pokemonDf

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False
701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False
702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False
709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [12]:
pokemonDf

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False
701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False
702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False
709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
#Vypíše počet riadkov a stĺpcov dátového setu
pokemonDf.shape

(800, 12)

In [14]:
pokemonDf.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [15]:
#Vypíše defaultne prvých 5 riadkov dátového setu
pokemonDf.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [16]:
#Vypíše defaultne posledných 5 riadkov dátového setu
pokemonDf.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [17]:
#Vypíše prvných n riadkov, napríklad 3
pokemonDf.head(3)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [18]:
#Vypíše posledných n riadkov, napríklad 3
pokemonDf.tail(3)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [19]:
#Vypíše nám ku každému stĺpcu jeho názov, dátovy typ, či obsahuje nulové hodnoty a počet riadkov - vyplnených hodnôt
pokemonDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 12 columns):
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

<h2>Úlohy:</h2>
<ol>
    <li>Vypíš prvých 7 riadkov z dátového setu pokemonDf</li>
    <li>Vypíš posledné 2 riadky z dátového setu pokemonDf</li>
</ol>

In [20]:
#1
pokemonDf.head(7)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

In [21]:
#2
pokemonDf.tail(2)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

<h2>Výpis dát a pristupovanie k hodnotám/dátam</h2>

<p>K dátam a ich hodnotám môžeme v pandase pristupovať rôznymi spôsobmi. Ukážeme si najvyužívanejšie z nich a rozdiely medzi nimi</p>

<img src="https://www.learntowish.com/wp-content/uploads/2017/09/string-slicing.png" />

<h3>Práca so stĺpcami</h3>

In [22]:
pokemonDf["Name"].head()

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [23]:
pokemonDf.Name.head()

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [24]:
pokemonDf["Name"] is pokemonDf.Name

True

<h2>Úlohy:</h2>
<ol>
    <li>Vypíš prvé 3 riadky zo stĺpca Type 1 z dátového setu pokemonDf prostredníctvom []</li>
    <li>Vypíš posledné 2 riadky zo stĺpca Type 2 dátového setu pokemonDf prostredníctvom []</li>
</ol>

In [25]:
#1
pokemonDf["Type 1"].head(3)

#
1    Grass
2    Grass
3    Grass
Name: Type 1, dtype: object

In [26]:
#2
pokemonDf["Type 2"].tail(2)

#
720     Dark
721    Water
Name: Type 2, dtype: object

<h3>Práca s riadkami</h3>

In [27]:
pokemonDf[0:1]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [28]:
pokemonDf[:3]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [29]:
pokemonDf[1:5]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

<h2>Úlohy:</h2>
<ol>
    <li>Vypíš všetky hodnoty od indexu 790 až po posledný z dátového setu pokemonDf</li>
    <li>Vypíš posledných 10 riadkov z dátového setu pokemonDf bez použitia tail()</li>
    <li>Vypíš prvé 4 riadky, z dátového setu pokemonDf bez použitia head()</li>
</ol>

In [30]:
#1
pokemonDf[790:]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [31]:
#2
pokemonDf[-10:]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [32]:
#3
pokemonDf[0:4]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

<h3>Práca s .loc()</h3>

In [37]:
type(pokemonDf.loc[3])

pandas.core.frame.DataFrame

In [36]:
type(pokemonDf.loc[1])

pandas.core.series.Series

In [35]:
pokemonDf.loc[0]

KeyError: 'the label [0] is not in the [index]'

In [38]:
pokemonDf.loc[2:6]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [39]:
pokemonDf.loc[:8, "Type 1" : "Total"]

  Type 1  Type 2  Total
#
1  Grass  Poison    318
2  Grass  Poison    405
3  Grass  Poison    525
3  Grass  Poison    625
4   Fire     NaN    309
5   Fire     NaN    405
6   Fire  Flying    534
6   Fire  Dragon    634
6   Fire  Flying    634
7  Water     NaN    314
8  Water     NaN    405

In [41]:
pokemonDf.loc[712:, "Type 2":]

,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,
712,NaN,304,55,69,85,32,35,28,6,False
713,NaN,514,95,117,184,44,46,28,6,False
714,Dragon,245,40,30,35,45,40,55,6,False
715,Dragon,535,85,70,80,97,80,123,6,False
716,NaN,680,126,131,95,131,98,99,6,True
717,Flying,680,126,131,95,131,98,99,6,True
718,Ground,600,108,100,121,81,95,95,6,True
719,Fairy,600,50,100,150,100,150,50,6,True
719,Fairy,700,50,160,110,160,110,110,6,True
720,Ghost,600,80,110,60,150,130,70,6,True
720,Dark,680,80,160,60,170,130,80,6,True
721,Water,600,80,110,120,130,90,70,6,True

<h3>Práca s .iloc()</h3>

In [42]:
pokemonDf.iloc[0]

Name          Bulbasaur
Type 1            Grass
Type 2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 1, dtype: object

In [43]:
pokemonDf.iloc[0:3]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [44]:
pokemonDf.iloc[:5, :3]

                    Name Type 1  Type 2
#
1              Bulbasaur  Grass  Poison
2                Ivysaur  Grass  Poison
3               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

<h2>Úlohy:</h2>
<ol>
    <li>Vypíš prvých 7 riadkov a prvé 3 stĺpce z dátového setu pokemonDf</li>
    <li>Vypíš riadky po label 4 od labelu 1 pomocou .loc</li>
    <li>Vypíš prvé 3 riadky pomocou metódy .iloc</li>
</ol>

In [45]:
#1
pokemonDf.iloc[:7, :3]

                    Name Type 1  Type 2
#
1              Bulbasaur  Grass  Poison
2                Ivysaur  Grass  Poison
3               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN
5             Charmeleon   Fire     NaN
6              Charizard   Fire  Flying

In [46]:
#2
pokemonDf.loc[1:4]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [47]:
#3
pokemonDf.iloc[:3]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [48]:
pokemonDf[pokemonDf["Type 1"] == 'Grass'].head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False

<h2>Úlohy:</h2>
<ol>
    <li>Vypíš prvých 5 pokémonov, ktorí majú HP vyššiu ako 60</li>
</ol>

In [49]:
#1
pokemonDf[pokemonDf["HP"] > 60].head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

<h3>Práca s .values</h3>

In [50]:
pokemonDf.values

array([['Bulbasaur', 'Grass', 'Poison', ..., 45, 1, False],
       ['Ivysaur', 'Grass', 'Poison', ..., 60, 1, False],
       ['Venusaur', 'Grass', 'Poison', ..., 80, 1, False],
       ...,
       ['HoopaHoopa Confined', 'Psychic', 'Ghost', ..., 70, 6, True],
       ['HoopaHoopa Unbound', 'Psychic', 'Dark', ..., 80, 6, True],
       ['Volcanion', 'Fire', 'Water', ..., 70, 6, True]], dtype=object)

In [51]:
pokemonDf.values[0]

array(['Bulbasaur', 'Grass', 'Poison', 318, 45, 49, 49, 65, 65, 45, 1,
       False], dtype=object)

In [52]:
pokemonDf.values[0][1]

'Grass'

In [53]:
 pokemonDf.values[0][0:3]

array(['Bulbasaur', 'Grass', 'Poison'], dtype=object)

In [54]:
pokemonDf.T

#,1,2,3,3,4,5,6,6,6,7,...,714,715,716,717,718,719,719,720,720,721
Name,Bulbasaur,Ivysaur,Venusaur,VenusaurMega Venusaur,Charmander,Charmeleon,Charizard,CharizardMega Charizard X,CharizardMega Charizard Y,Squirtle,...,Noibat,Noivern,Xerneas,Yveltal,Zygarde50% Forme,Diancie,DiancieMega Diancie,HoopaHoopa Confined,HoopaHoopa Unbound,Volcanion
Type 1,Grass,Grass,Grass,Grass,Fire,Fire,Fire,Fire,Fire,Water,...,Flying,Flying,Fairy,Dark,Dragon,Rock,Rock,Psychic,Psychic,Fire
Type 2,Poison,Poison,Poison,Poison,NaN,NaN,Flying,Dragon,Flying,NaN,...,Dragon,Dragon,NaN,Flying,Ground,Fairy,Fairy,Ghost,Dark,Water
Total,318,405,525,625,309,405,534,634,634,314,...,245,535,680,680,600,600,700,600,680,600
HP,45,60,80,80,39,58,78,78,78,44,...,40,85,126,126,108,50,50,80,80,80
Attack,49,62,82,100,52,64,84,130,104,48,...,30,70,131,131,100,100,160,110,160,110
Defense,49,63,83,123,43,58,78,111,78,65,...,35,80,95,95,121,150,110,60,60,120
Sp. Atk,65,80,100,122,60,80,109,130,159,50,...,45,97,131,131,81,100,160,150,170,130
Sp. Def,65,80,100,120,50,65,85,85,115,64,...,40,80,98,98,95,150,110,130,130,90
Speed,45,60,80,80,65,80,100,100,100,43,...,55,123,99,99,95,50,110,70,80,70
Generation,1,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
Legendary,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True

<h2>Export dát</h2>

<p>Rovnako ako dáta z rôznych formátov importujeme, v pandase je možné ich exportovať. Na export dát využívame podľa dátového typu tieto príkazy:</p>

<h5>Export dát do CSV súboru</h5>
df.to_csv(filename)

<h5>Export dát do excel súboru</h5>
df.to_excel(filename)

<h5>Export dát do SQL tabuľky</h5>
df.to_sql(table_name, connection_object)

<h5>Export dát do JSONu</h5>
df.to_json(filename)

In [55]:
transPokemonDf = pokemonDf.T

In [56]:
transPokemonDf.to_csv('csv/transPokemon.csv', encoding='utf-8')

In [57]:
newDf = pd.read_csv('csv/Pokemon.csv', encoding='utf-8', usecols=["#", "Type 1"])

In [60]:
newDf1 = pd.read_csv('csv/Pokemon.csv', encoding='utf-8', usecols=[0,1])

In [61]:
newDf1.head()

   #                   Name
0  1              Bulbasaur
1  2                Ivysaur
2  3               Venusaur
3  3  VenusaurMega Venusaur
4  4             Charmander