In [16]:
import pandas as pd

In [17]:
coursesDf = pd.read_json('https://czechitas-app.herokuapp.com/api/v1/courses/open/')

In [18]:
"""
2. Očiste si dátový set o kurzy, ktoré nemajú kouča a uložte do novej premennej s názvom courses
"""
coursesDf = coursesDf[coursesDf["couches"] != '']

In [19]:
"""
3. Spravte pivotnú/kontingenčnú tabuľku, kde budú dáta za koučov a celková suma za ich kurz . 
Zároveň zrátajte sumu za všetky kurzy pod All. 
"""
pivot = pd.pivot_table(coursesDf, index='couches', margins = True, values='course_price', aggfunc='sum')
pivot

                   course_price
couches
Anna Pascenko               300
Kuan-Heng Lin               500
Martina Votrubová           300
Pavel Lasák                 600
Pavel Ungr                  300
Vladimír Valouch           2000
All                        4000

In [20]:
"""
4. Zrátajte počet kurzov lektorov cez groupby
"""
coursesDf.groupby('couches')["couches"].count()

couches
Anna Pascenko        1
Kuan-Heng Lin        1
Martina Votrubová    1
Pavel Lasák          2
Pavel Ungr           1
Vladimír Valouch     1
Name: couches, dtype: int64

In [21]:
"""
5. Zgrupte hodnoty za koučov, dátum štartu kurzu a zrátajte sumu za daný kurz 
"""
coursesDf.groupby(['couches', 'course_start_date'])["course_price"].agg(sum)

couches            course_start_date
Anna Pascenko      2016-11-26T08:30:00Z     300
Kuan-Heng Lin      2016-10-25T16:00:00Z     500
Martina Votrubová  2016-11-23T16:00:00Z     300
Pavel Lasák        2016-10-22T07:00:00Z     300
                   2016-12-03T08:00:00Z     300
Pavel Ungr         2016-11-28T17:00:00Z     300
Vladimír Valouch   2016-10-11T16:00:00Z    2000
Name: course_price, dtype: int64

In [22]:
"""
6. Nad zgrupením z úlohy vyššie použite describe() 
"""
coursesDf.groupby(['couches', 'course_start_date'])["course_price"].describe()

                                        count    mean  std     min     25%  \
couches           course_start_date
Anna Pascenko     2016-11-26T08:30:00Z    1.0   300.0  NaN   300.0   300.0
Kuan-Heng Lin     2016-10-25T16:00:00Z    1.0   500.0  NaN   500.0   500.0
Martina Votrubová 2016-11-23T16:00:00Z    1.0   300.0  NaN   300.0   300.0
Pavel Lasák       2016-10-22T07:00:00Z    1.0   300.0  NaN   300.0   300.0
                  2016-12-03T08:00:00Z    1.0   300.0  NaN   300.0   300.0
Pavel Ungr        2016-11-28T17:00:00Z    1.0   300.0  NaN   300.0   300.0
Vladimír Valouch  2016-10-11T16:00:00Z    1.0  2000.0  NaN  2000.0  2000.0

                                           50%     75%     max
couches           course_start_date
Anna Pascenko     2016-11-26T08:30:00Z   300.0   300.0   300.0
Kuan-Heng Lin     2016-10-25T16:00:00Z   500.0   500.0   500.0
Martina Votrubová 2016-11-23T16:00:00Z   300.0   300.0   300.0
Pavel Lasák       2016-10-22T07:00:00Z   300.0   300.0   300.0
                  2016-12-03T08:00:00Z   300.0   300.0   300.0
Pavel Ungr        2016-11-28T17:00:00Z   300.0   300.0   300.0
Vladimír Valouch  2016-10-11T16:00:00Z  2000.0  2000.0  2000.0

In [23]:
"""
7. Nad zgrupenim z ulohy 5 pouzite nakonci este metodu unstack() 
"""
coursesDf.groupby(['couches', 'course_start_date'])["course_price"].agg(sum).unstack()

course_start_date,2016-10-11T16:00:00Z,2016-10-22T07:00:00Z,2016-10-25T16:00:00Z,2016-11-23T16:00:00Z,2016-11-26T08:30:00Z,2016-11-28T17:00:00Z,2016-12-03T08:00:00Z
couches,,,,,,,
Anna Pascenko,NaN,NaN,NaN,NaN,300.0,NaN,NaN
Kuan-Heng Lin,NaN,NaN,500.0,NaN,NaN,NaN,NaN
Martina Votrubová,NaN,NaN,NaN,300.0,NaN,NaN,NaN
Pavel Lasák,NaN,300.0,NaN,NaN,NaN,NaN,300.0
Pavel Ungr,NaN,NaN,NaN,NaN,NaN,300.0,NaN
Vladimír Valouch,2000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
"""
8. Z datoveho setu odstrante stlpce contact_person a course_category
"""
coursesDf.drop(['contact_person', 'course_category'], axis = 1, inplace = True)
coursesDf.head()

,couches,course_description,course_end_date,course_price,course_start_date,course_venue,id,interested_form_link,max_capacity,notes,open_registration,publish,registration_form_link,repeat,title
0,Anna Pascenko,Have you already implemented any application o...,2016-11-26T16:30:00Z,300,2016-11-26T08:30:00Z,"{'id': 11, 'title': 'Konica Minolta', 'street_...",67,https://docs.google.com/forms/d/e/1FAIpQLSfrtC...,NaN,,True,True,https://docs.google.com/forms/d/e/1FAIpQLSfrtC...,,I can code!: Introduction to databases
1,Pavel Lasák,"Máme tady další Excel workshop, protože vás po...",2016-12-03T16:30:00Z,300,2016-12-03T08:00:00Z,"{'id': 3, 'title': 'Fakulta informatiky Masary...",66,https://docs.google.com/forms/d/e/1FAIpQLSfrtC...,NaN,Osnova workshopu:\r\n– Základy + pár efektivní...,True,True,https://docs.google.com/forms/d/e/1FAIpQLSfrtC...,,Excel workshop
3,Martina Votrubová,"Sociální sítě dnes používá snad každý, ale víš...",2016-11-23T19:00:00Z,300,2016-11-23T16:00:00Z,"{'id': 5, 'title': 'CERGE-EI', 'street_name': ...",58,https://goo.gl/forms/DhfY21CiwIasezAY2,NaN,Blok a tužku a dobrou náladu!,True,True,https://goo.gl/forms/DhfY21CiwIasezAY2,,Jsem digitální!: Sociální sítě
4,Pavel Ungr,"Nejen programování je člověk živ, a proto ti p...",2016-11-28T20:00:00Z,300,2016-11-28T17:00:00Z,"{'id': 7, 'title': 'Impact Hub', 'street_name'...",59,https://goo.gl/forms/DhfY21CiwIasezAY2,NaN,"Vlastní notebook, myš (není nutná, ale bude se...",True,True,https://goo.gl/forms/DhfY21CiwIasezAY2,,Jsem digitální!: SEO interaktivní workshop
8,Kuan-Heng Lin,Czechitas will have course in English! Again! ...,2016-11-15T18:30:00Z,500,2016-10-25T16:00:00Z,"{'id': 5, 'title': 'CERGE-EI', 'street_name': ...",50,https://goo.gl/forms/DhfY21CiwIasezAY2,NaN,Prerequisities: The Course is for absolute beg...,True,True,https://goo.gl/forms/DhfY21CiwIasezAY2,every Tuesday,I can code!: Basics of R programming

In [25]:
"""
9. Pretypujte číslo 11 na string v Pythone
"""
print(str(11))
print(type(str(11)))

11
<class 'str'>

In [26]:
"""
10. Napíš program, ktorý vo vete "Ahoj, ja som Harry Potter a toto je mojich 12 potkanov." 
zráta počet znakov a počet čísel.
"""
sentence = input("Enter the sentence: ")
my_dict = {"DIGITS" : 0, "LETTERS" : 0}
for s in sentence:
    if s.isdigit():
        my_dict["DIGITS"]+=1
    elif s.isalpha():
        my_dict["LETTERS"]+=1
    else:
        continue
print ("LETTERS IS: ", my_dict["LETTERS"])
print ("DIGITS IS: ", my_dict["DIGITS"])

Enter the sentence: Ahoj, ja som Harry Potter a toto je mojich 12 potkanov.
LETTERS IS:  41
DIGITS IS:  2

In [28]:
"""
11. Najdi na internete text svojej oblubenej pesnicky. Uloz si ho do premennej a vypis, kolko krat sa tam
nachadza pismeno d.
"""
my_song = "Jako vášeň, která hasne v kouři,namačkaná bez ostychu, v zástup živočichů,jako jas dálkových světel"
my_song
my_song.count('d')

1

In [29]:
"""
12. Sprav zoznam, do ktoreho ulozis mena domacich zvierat. Vypis ich zoradene podla abecedy.
"""
animals = ["krava", "kocka", "pes", "žirafa", "kozel"]
print (sorted(animals))

['kocka', 'kozel', 'krava', 'pes', 'žirafa']